.sashimi_editor {
  position: relative;
}
.sashimi_editor .panel {
  background-color: white;
}
.sashimi_editor .controls {
  margin-bottom: 20px;
  width: 100%;
}
.sashimi_editor .controls > .split > * {
  width: 49%;
}
.sashimi_editor .sashimi_editor__text_options .sashimi_editor__toggle {
  opacity: 0.5;
  transition: none;
}
.sashimi_editor .sashimi_editor__text_options .sashimi_editor__italic {
  font-style: italic;
}
.sashimi_editor .sashimi_editor__text_options .sashimi_editor__underline {
  text-decoration: underline;
}
.sashimi_editor .sashimi_editor__text_options .sashimi_editor__anchor {
  text-decoration: underline;
}
.sashimi_editor .sashimi_editor__text_options .sashimi_editor__block_options {
  margin-right: 10px;
  margin-bottom: 10px;
}
.sashimi_editor .textarea {
  margin-bottom: 20px;
  height: 400px;
  color: var(--body__color);
  font-size: 13pt;
  font-weight: normal;
  font-family: var(--body__font);
  overflow: auto;
}
.sashimi_editor .textarea a {
  color: #1e00ff;
}
.sashimi_editor .sashimi_editor__textbox {
  line-height: 1;
}
.sashimi_editor .sashimi_editor__textbox p,
.sashimi_editor .sashimi_editor__textbox li {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sashimi_editor .sashimi_editor__textbox img {
  max-height: 200px;
}
.sashimi_editor .sashimi_editor__code_textbox {
  font-family: "Consolas", monospace;
  width: 100%;
}
.sashimi_editor .sashimi_editor__code_textbox div {
  font-size: 13pt;
}
